<%-include("header") -%>
    <%-include("navbar") -%>


        <div class="album py-5 bg-dark">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/troianeLocandina.jpg" class="card-img-top" alt="...">



                                <div class="card-body">
                                    <p class="card-text"></p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/capodannoLocandina.jpg" class="card-img-top" alt="...">



                                <div class="card-body">
                                    <p class="card-text">
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/lascalocandina.jpg" class="card-img-top" alt="...">

                            </div>

                            <div class="card-body">
                                <p class="card-text"></p>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/panediferroLocandina1.jpg" class="card-img-top" alt="...">

                            </div>

                            <div class="card-body">
                                <p class="card-text"></p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/panediferroLocandina2.jpg" class="card-img-top" alt="...">

                            </div>

                            <div class="card-body">
                                <p class="card-text"></p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/MelodieLocandina.jpg" class="card-img-top" alt="...">

                            </div>

                            <div class="card-body">
                                <p class="card-text"></p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card">
                                <img src="images/tagliodelboscoLocandina.jpg" class="card-img-top" alt="...">

                            </div>

                            <div class="card-body">
                                <p class="card-text"></p>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        </div>



        <%-include("footer") -%>