<footer class="fixed-bottom" id="footer">
    <div class="copyright">© Teatro delle Stanze</div>
    <i class="icon fab fa-facebook-f"></i> <i class="icon fab fa-instagram"></i>
    <i class="icon fas fa-envelope"></i>
</footer>
</div>
</body>