<!-- Gallery -->
<%-include("header") -%>

    <%-include("navbar") -%>

        <div class="container-fluid">

            <!-- First Row -->
            <div class="row">

                <!-- First Column -->
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="img__wrap gallery-item">
                        <img src="images/LascaLorenzo.jpg" class=" gallery-item w-100 shadow-1-strong rounded mb-4"
                            alt="gallery item" id="lasca" />
                        <div class="img__description_layer">
                            <p class="img__description">A cena con il Lasca</p>
                        </div>
                    </div>

                    <div class="img__wrap gallery-item"><img src="images/MelodiePatrizia.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Melodie Stonate</p>
                        </div>
                    </div>



                    <div class="img__wrap gallery-item"><img src="images/gibsyNicco.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Gibsy</p>
                        </div>
                    </div>
                    <div class="img__wrap gallery-item"><img src="images/Giovannapanni.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Giovanni VIII</p>
                        </div>
                    </div>
                    <div class="img__wrap gallery-item"><img src="images/panediferroBianca.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Pane di Ferro</p>
                        </div>
                    </div>


                </div>

                <!-- Second Column -->

                <div class="col-lg-4 mb-4 mb-lg-0">

                    <div class="img__wrap gallery-item"><img src="images/papessa2018.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Giovanni VIII</p>
                        </div>
                    </div>

                    <div class="img__wrap gallery-item"><img src="images/LucaLasca.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">A cena con il Lasca</p>
                        </div>
                    </div>

                    <div class="img__wrap gallery-item"><img src="images/troiane.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Troiane</p>
                        </div>
                    </div>
                    <div class="img__wrap gallery-item"><img src="images/GiovannaElodie.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Giovanni VIII</p>
                        </div>
                    </div>


                </div>
                <!-- Third Column -->
                <div class="col-lg-4 mb-4 mb-lg-0">

                    <div class="img__wrap gallery-item"><img src="images/Gibsy sgabello.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Gibsy</p>
                        </div>
                    </div>

                    <div class="img__wrap gallery-item"><img src="images/TignanoSandro.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Tignano Festival</p>
                        </div>
                    </div>

                    <div class="img__wrap gallery-item"><img src="images/DiegoCravatta.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Gibsy</p>
                        </div>
                    </div>

                    <div class="img__wrap gallery-item"><img src="images/MelodiePaola.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Melodie Stonate</p>
                        </div>
                    </div>
                    <div class="img__wrap gallery-item"><img src="images/panediferroMarlene.jpg"
                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                        <div class="img__description_layer">
                            <p class="img__description">Pane di Ferro</p>
                        </div>
                    </div>




                </div>

                <!-- Second Row -->

                <div class="row">

                    <!-- First Column -->
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

                        <div class="img__wrap gallery-item"><img src="images/panediferroSimone.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Pane di Ferro</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/libertàScarpe.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Libertà Interrotte</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/ShakeYasmine.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Stanze Shakespiriane</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/MelodieInchino.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Melodie Stonate</p>
                            </div>
                        </div>
                        <div class="img__wrap gallery-item"><img src="images/donneOcchiGrandi.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Donne dagli occhi grandi</p>
                            </div>
                        </div>
                    </div>

                    <!-- Second Column -->
                    <div class="col-lg-4 mb-4 mb-lg-0">

                        <div class="img__wrap gallery-item"><img src="images/Ofelia.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Stanze Shakespiriane</p>
                            </div>
                        </div>
                        <div class="img__wrap gallery-item"><img src="images/libertàLinda.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Libertà Interrotte</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/LascaLety.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">A cena con il Lasca</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/gibsy3.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Gibsy</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/DiegoGibsy.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Gibsy</p>
                            </div>
                        </div>







                    </div>
                    <!-- Third Column -->
                    <div class="col-lg-4 mb-4 mb-lg-0">

                        <div class="img__wrap gallery-item"><img src="images/libertàMacchina.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Libertà Interrotte</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/sognoYasRicc.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Sogno di una notte di mezz'estate</p>
                            </div>
                        </div>


                        <div class="img__wrap gallery-item"><img src="images/libertàRiccardo.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Libertà Interrotte</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/Donna.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Donna Donna Donna</p>
                            </div>
                        </div>

                        <div class="img__wrap gallery-item"><img src="images/panediferroBurba.jpg"
                                class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="" />
                            <div class="img__description_layer">
                                <p class="img__description">Pane di Ferro</p>
                            </div>
                        </div>


                    </div>


                </div>

            </div>

            <!-- Modal body -->
            <section>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img class="modal-img" alt="modal img">
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <%-include("footer") -%>
            <!-- Gallery -->