<!-- Gallery -->
<%-include("header") -%>
    <%-include("scripts") -%>
        <%-include("navbar") -%>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <img src="images/LascaLorenzo.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

                        <img src="images/MelodiePatrizia.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                        <img src="images/gibsyNicco.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <img src="images/papessa2018.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                        <img src="images/troiane.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

                        <img src="images/GiovannaElodie.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <img src="images/Gibsy sgabello.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                        <img src="images/TignanoSandro.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

                        <img src="images/MelodiePaola.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="">
                        <img src="images/panediferroMarlene.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="images/panediferroSimone.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

                            <img src="images/libertàScarpe.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                            <img src="images/ShakeYasmine.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                            <img src="images/MelodieInchino.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                        </div>


                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="images/libertàLinda.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                            <img src="images/LascaLety.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                            <img src="images/panediferro.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="images/libertàMacchina.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />


                            <img src="images/libertàRiccardo.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="">
                            <img src="images/panediferroBurba.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                        </div>


                    </div>

                </div>

                <%-include("footer") -%>
                    <!-- Gallery -->