<%-include("header") -%>

    <%-include("navbar") -%>

        <!-- Title -->
        <div class="container-fluid text-box">



            <div class="title">
                <h1>Gibsy
                </h1>
                <h3>
                    di Francesco Mattonai
                </h3>
            </div>


        </div>

        <div class="row">
            <div class="col-sm">

                <hr>
                <p>

                    Johann Trollmann è stato uno dei più promettenti pugili della Germania di fine anni ’20,
                    destinato a
                    dominare la categoria dei pesi medio/massimi col soprannome di Gibsy, negli stessi anni
                    in
                    cui
                    Hitler saliva al
                    potere.
                    Trollmann era uno zingaro Sinti e, più cresceva la sua abilità, più cresceva
                    l’ostilità
                    dei
                    nazisti che
                    numerosissimi andavano ai sui incontri sperando di vederlo perdere.



                    <hr>
            </div>

            <div class="col-sm">
                <img src="images/gibsypugnicopia.jpg" alt="gibsypugni" class="image-fluid" id="gibsypugni">
            </div>
        </div>



        <div class="row">

            <div class="col-sm">

                <img src="images/gibsy4.jpg" alt="gibsy4" class="image-fluid" id="gibsy4">
            </div>
            <div class="col-sm">
                <blockquote class="blockquote">
                    <hr>
                    <p><em>"Adesso difenditi, zingaro"</em></p>
                    <hr>
                </blockquote>

            </div>

        </div>



        <div class="row">
            <div class="col-sm">
                <hr>
                <p>

                    Avvia il racconto Zirzow, l’allenatore di Gibsy che lo ha seguito per
                    tutta la carriera da professionista ma, a forza di evocarlo, egli appare sul palco e
                    comincia a
                    raccontare la sua parte di storia;
                    si alternano scene a due a racconti individuali, si intrecciano ai balli e canti del
                    campo
                    Rom.
                </p>
                <hr>
            </div>
            <div class="col-sm">
                <img src="images/gibsypugni2.jpg" alt="gibsypugni2" id="gibsypugni2">
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="images/gibsy6.jpg" class="img-fluid" alt="gibsy6" id="gibsy6">
            </div>



            <div class="col-sm">
                <hr>
                <p>
                    Zirzow va a trovare i parenti di Gibsy
                    nel giorno in cui si celebra il funerale simbolico del pugile, scomparso in un
                    campo
                    di
                    concentramento. Tra usanze sinti,racconti, aneddoti
                    e testimonianze di chi Gibsy lo ha amato, come Olga, scopriremo qual è l’ultima
                    beffa che il
                    grande
                    campione ha escogitato, prima del suo declino.
                </p>
                <hr>
            </div>
            <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

            <!-- Your embedded video player code -->
            <div class="fb-video" data-href="https://www.facebook.com/watch/?v=236461124615471" data-width="500"
                data-show-text="false">
                <div class="fb-xfbml-parse-ignore">


                </div>
            </div>

        </div>





        </div>


        <%-include("footer") -%>