<%-include("header") -%>

    <%-include("navbar") -%>
        <div class="container-fluid description">
            <div class="title">
                <h1>
                    Giovanni VIII
                </h1>
                <h3>
                    regia di Lucia Socci
                </h3>
            </div>


            <img src="images/Giovanna2.jpg" alt="Giovanna" class="image-center image-fluid">


            <p style="text-align: center;"><em>“Ho una autentica passione per i ritratti. Ritratti di persone che
                    attraverso le loro
                    scelte
                    di vita
                    hanno affermato la propria eroicità. La figura che mi è venuta incontro in questo tempo
                    è
                    quella della papessa
                    Giovanna.”</em></p>





        </div>


        <!-- First row -->

        <div class="container main-content">
            <div class="row">
                <div class="col-sm">
                    <img src="images/GiovannaElodie.jpg" alt="bambina">
                </div>
                <div class="col-sm">
                    <p>Siamo nell’ 857 e il popolo si raccomanda a Giovanni VIII che ha imparato ad amare nei suoi
                        due
                        anni di
                        pontificato.Mentre guida la processione da San Pietro alla residenza Laterana,
                        improvvisamente
                        il Santo Padre si
                        accascia al suolo. Il papa è una donna colta dalle doglie del parto e poco dopo partorisce.
                        La
                        folla inferocita porta la
                        donna e il bambino fuori dalle mura e li uccide entrambi lapidandoli. In altre versioni la
                        papessa sarebbe morta subito
                        dopo il parto oppure, una volta scoperta, rinchiusa in un convento.</p>

                </div>

            </div>


            <!-- Second row -->

            <div class="row">
                <div class="col-sm">
                    <p>
                        Ma non è molto importante la verità; per molti si tratta addirittura di una leggenda. Sta di
                        fatto che è un materiale
                        che ha incuriosito molti studiosi, saggisti, romanzieri, Giovanni Boccaccio nel suo De
                        Mulieribus claris narra di
                        Giovanna Angelica e si ispira alla leggenda stessa. Le sono stati dedicati anche un paio di
                        film, “La papessa Giovanna”
                        di Michael Anderson, 1972, con Liv Ullmann, e “La papessa” di S. Wortmann, 2009, con Johanna
                        Wokalek.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="images/GiovannaPaola.jpg" alt="donna" id="GiovannaPaola">
                </div>

            </div>


            <!-- Third row -->

            <div class="row">
                <div class="col-sm">
                    <img src="images/Giovannaporta.jpg" alt="ragazza" id="Giovannaporta">
                </div>
                <div class="col-sm">
                    <p>È interessante il materiale, la figura di Giovanna e il contesto
                        storico: il ritratto e lo
                        sfondo.

                        Giovanna è infatti costretta a travestirsi da uomo per poter far fronte alla sua sete di
                        conoscenza. Al tempo infatti le
                        donne non avevano alcun diritto e, come dire, in alcune culture, purtroppo, ancora oggi è
                        così. Oltre alla disparità di
                        diritti tra sessi, si sente fortemente la disparità tra gli abbienti e i non abbienti. E gli
                        intrecci politici, che si
                        annodano a quelli della chiesa, la fanno da padrone.
                    </p>

                </div>

            </div>
        </div>
        <%-include("footer") -%>