<%-include("header") -%>

    <%-include("navbar") -%>
        <div class="container-fluid text-box">
            <div class="title">
                <h1>Pane di Ferro</h1>
                <h3>regia di Marco Natalucci</h3>
            </div>

            <img class="image-center image-fluid" src="images/panediferrovagone.jpg" alt="panediferro">
            <p style="padding-top: 7%">
                <b>Pane di Ferro</b> nasce come spettacolo teatrale itinerante di attori e attrici e musicisti che
                raccontano
                l’evoluzione storica e culturale di un territorio come la Valdelsa prendendo a spunto l’eterno tema
                del
                viaggio su
                un tracciato\palcoscenico. <br>
            <p>L’espediente narrativo della ferrovia ha permesso così di raccontare
                l’incedere del tempo simulando un viaggio su di un treno immaginario, “navicella temporale” densa di
                ricordi
                e aneddoti di chi ha vissuto un'epoca trascorsa che permette a noi contempoanei di “tornare a
                quel punto di partenza - citando Eliot- per conoscerlo per la prima volta”.</p>
            <p>La stessa magia del
                viaggio
                viene
                proposta su palcoscenico dal Teatro delle Stanze con una narrazione su dei binari immaginari che
                ripercorrono
                i mutamenti culturali, storici, umani che si sono succeduti sull’immutabile percorso di una ferrovia
                nell’arco
                di tempo che va dalla sua eclatante e pomposa apertura, fino agli eventi che ne hanno decretato
                la definitiva dismissione.</p>
            <p>
                <b>Pane di Ferro</b> è un quindi evento teatrale che ha una duplice possibilità
                scenica:
                Lo spettacolo itinerante offre una partecipazione fisica anche del pubblico più spontanea, simulando
                l’incedere
                di un treno che attraversa vari episodi caratterizzanti diverse epoche storiche. 
                La rappresentazione su palco coinvolge il pubblico in maniera più narrativa, scandendo con il
                montaggio
                scenico e con videoproiezioni di passaggio del tempo.  
                In entrambi i casi, Pane di ferro ai avvale di 3 lingue: Il linguaggio teatrale, quello musicale e
                la
                video art.
            </p>



        </div>

        <%-include("footer") -%>