<%-include("header") -%>
    <%-include("scripts") -%>
        <%-include("navbar") -%>
            <div class="container">
                <h1>Pane di Ferro</h1>
                <h3>regia di Marco Natalucci</h3>
                <p>
                    Pane di Ferro nasce come spettacolo teatrale itinerante di attori e attrici e musicisti che
                    raccontano
                    l’evoluzione storica e culturale di un territorio come la Valdelsa prendendo a spunto l’eterno tema
                    del
                    viaggio su
                    un tracciato\palcoscenico. L’espediente narrativo della ferrovia ha permesso così di raccontare
                    l’incedere del tempo simulando un viaggio su di un treno immaginario, “navicella temporale” densa di
                    ricordi
                    e aneddoti di chi ha vissuto un'epoca trascorsa che permette a noi contempoanei di “tornare a
                    quel punto di partenza - citando Eliot- per conoscerlo per la prima volta”. La stessa magia del
                    viaggio
                    viene
                    proposta su palcoscenico dal Teatro delle Stanze con una narrazione su dei binari immaginari che
                    ripercorrono
                    i mutamenti culturali, storici, umani che si sono succeduti sull’immutabile percorso di una ferrovia
                    nell’arco
                    di tempo che va dalla sua eclatante e pomposa apertura, fino agli eventi che ne hanno decretato
                    la definitiva dismissione. PANE DI FERRO è un quindi evento teatrale che ha una duplice possibilità
                    scenica:
                    Lo spettacolo itinerante offre una partecipazione fisica anche del pubblico più spontanea, simulando
                    l’incedere
                    di un treno che attraversa vari episodi caratterizzanti diverse epoche storiche. 
                    La rappresentazione su palco coinvolge il pubblico in maniera più narrativa, scandendo con il
                    montaggio
                    scenico e con videoproiezioni di passaggio del tempo.  
                    In entrambi i casi, Pane di ferro ai avvale di 3 lingue: Il linguaggio teatrale, quello musicale e
                    la
                    video art.
                </p>

            </div>

            <%-include("footer") -%>