<%-include("header") -%>
    <%-include("scripts") -%>
        <%-include("navbar") -%>
            <div class="container-fluid text-box">
                <div class="title">
                    <h1>Il Taglio del Bosco</h1>
                    <h3>regia di Giovanni Guidelli</h3>
                </div>

                <p>
                    "Il taglio del bosco" è il lungo racconto scritto da Carlo Cassola e ambientato su una collina del
                    bosco di Berignone, nei pressi del fiume Sellate.

                    L’opera di Cassola rivive grazie alla felice intuizione di Giovanni Guidelli, attore famoso in tutta
                    Italia e valdelsano d’adozione, che ne cura adattamento e regia. «Il testo – commenta Guidelli – si
                    prestava a meraviglia a una rappresentazione teatrale che fosse in grado di riportare lo spettatore
                    in
                    un’atmosfera atavica e onirica allo stesso tempo: le nostre radici, i lavori delle generazioni che
                    ci hanno preceduto, la terra, la fatica… ma anche i valori dell’amicizia, della parola data, del
                    rispetto.
                    Gli eredi si sono detti entusiasti del progetto. Da parte mia è come una sorta d’investitura, un
                    onore,
                    ma dall’altra anche un grande carico di responsabilità verso uno degli autori i più
                    importanti del Novecento italiano».
                </p>
            </div>


            <%-include("footer") -%>