body {
    background-color: black;
    color: blanchedalmond;
    font-family: 'Cormorant Garamond', serif;
    
    
}

blockquote {
    position: absolute;
    margin:25% 10% 20% 65%; 

}

cite {
    color: blanchedalmond;
    
    
}

.fab .fas  {
    color: blanchedalmond;
    padding: 15px;
}
.icon:hover{
    color:grey;
}
footer {
    text-align: center;
    padding: 10px;
      background:linear-gradient( black,#373640,#63686e);
}

.dropdown-menu {
    background-color: black;
    
}

.dropdown-item {
    color: blanchedalmond;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: blanchedalmond;
    padding-top: 30px;
    font-size: 1.4rem;
}

.navbar .navbar-brand {
color: blanchedalmond;
padding-left: 20px;
font-size: 2rem;
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar{
    padding-right: 50px;
}

#aboutus{
    position: relative;
    font-size:18px;
    text-align: justify;
    padding: 7% 20%;
}
#gibsy2{
    float: right;
}
#gibsy4{
    float:left;
}

.text-with-image {
    float: left;
    text-align: justify;
}

.text-with-image img {
    padding: 15px;
}
h1, h2{
    text-align: center;
}
