
body {
    background-color: #1b2021;
    color: #f3f4ed;
    /* font-family:'Josefin Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
      
}
.card img{
    max-width: 100%;
}



/* Image Wrapper */
.img__wrap {
  position: relative;
 
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(155, 99, 62, 0.6);
  
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect*/
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}















.title{
    padding:5%;
}
    .container-fluid {
    padding:3% 8%;
    position: relative;
   
}
 .row img{
    max-width: 100%;
}
p {
      font-size: 1.3rem;
    text-align: justify;
    padding: 5% 8%;
}

h1, h2, h3{
    text-align: center;
}
h1{
    font-size: 2.5rem;
}
h3{
    font-size: 1.2rem;;
}
/* Navbar Section */

.dropdown-menu {
    background-color: #1b2021;
    
}

.dropdown-item {
    color: #f3f4ed;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f3f4ed;
    
    font-size: 1.4rem;
}

.navbar .navbar-brand {
color: white;
padding-left: 40px;

font-size: 2rem;
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar{
    padding-right: 40px;
}

/* About Us Section  */
       

.container-fluid .description{

    padding: 6% 0;
    background-color:#f3f4ed;
    color: #424642;
}

 /* .description h1{
    text-align: center;
    margin-left: 10%;
    text-decoration: underline black;
} */




/* Attori */

.card{
    background-color: black;
}


.card-text{
    font-size: medium;
    color: white;
}

.card img{
    max-width: 100%;
}
/* Gibsy Section */

.text-box{
    padding-top:6%;
}
.col-sm{
    padding:6% 2%;
}

.row .title{
    padding:10%;
}


#gibsypugni{
  
    width: 70%;
    padding-left: 20%;
}
#gibsy2{
    
    width: 90%;
}

#gibsyfarina{
    width:50%;
}

/* Giovanni VIII Section */

.image-center{
  display: block;
  margin: auto;
  width: 70%;
}

/* Pane di Ferro Section  */




/* Footer */
.icon {
    color: white;
    padding: 5px;
}
.icon:hover{
    color:grey;
}
footer {
    text-align: center;
    padding: 10px;
      background:#1b2021;
}

.footer .container-fluid{
    display: flex;
}

/* Gallery */
.modal-img{
   width: 100%;
}

/* Archivio */

