
body {
    background-color: black;
    color: blanchedalmond;
    font-family: 'Cormorant Garamond', serif;
  
    
    
}
p {
      font-size: 1.3rem;
    text-align: justify;
    
}

h1, h2, h3{
    text-align: center;
}
h1{
    font-size: 2.5rem;
}
h3{
    font-size: 1.2rem;;
}
/* Navbar Section */

.dropdown-menu {
    background-color: black;
    
}

.dropdown-item {
    color: blanchedalmond;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: blanchedalmond;
    padding-top: 30px;
    font-size: 1.4rem;
}

.navbar .navbar-brand {
color: blanchedalmond;
padding-left: 20px;
font-size: 2rem;
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar{
    padding-right: 20px;
}

/* About Us Section  */

#aboutus{
    position: relative;
   
    
}

/* Attori */
.main-content img{
    width:100%;
}
/* Gibsy Section */

.text-box{
    padding-top:6%;
}
.col-sm{
    padding:6% 2%;
}

.row .title{
    padding:10%;
}


#gibsypugni{
  
    width: 70%;
    padding-left: 20%;
}
#gibsy2{
    
    width: 90%;
}

#gibsyfarina{
    width:50%;
}

/* Giovanni VIII Section */

.image-center{
  display: block;
  margin: auto;
  width: 50%;
}

/* Footer */
.fab .fas  {
    color: blanchedalmond;
    padding: 15px;
}
.icon:hover{
    color:grey;
}
footer {
    text-align: center;
    padding: 10px;
      background:linear-gradient(black,#373640,#63686e);
}